<nav>
    <div class="ul">
        <!-- fa-w (deja un espacio entre icono y texto) -->
        <button class="link"><a class="router" routerLink=""><i class="fa-solid fa-home fa-fw"></i> Home</a></button>
        <button class="link"><a class="router"  routerLink="/gestores"><i class="fa-solid fa-lemon fa-fw"></i>Gestores</a></button>
        <button class="link"><a class="router" routerLink="/clientes"><i class="fa-solid fa-user fa-fw"></i>Clientes</a></button>
        <button class="link" id="men"><a class="router" routerLink="/mensajes"><i class="fa-solid fa-comment fa-fw"></i>Mensajes</a></button>
        <button class="link"><a class="router" routerLink="/transferencias"><i class="fa-solid fa-sack-dollar fa-fw "></i>Transferencias</a></button>
    </div>
</nav>
<h2>Lista de Mensajes</h2>
<div class="box">
    <table>
        <thead>
            <tr>
                <!-- th columna de cabecera -->
                <th></th>
                <th>Id</th>
                <th>Remitente</th>
                <th>Destinatario</th>
                <th>Fecha</th>
                <th>Mensaje</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mensaje of mensajes">
                <td class="emoji"><i class="fa-solid fa-comment"></i></td>
                <!-- td columna normal -->
                <td class="id">{{ mensaje.id}}</td>
                <td class="nom-mens">{{ mensaje.id_remitente.nombre }}</td>
                <td class="nom-mens">{{ mensaje.id_destinatario.nombre }}</td>
                <td id="fecha">{{ mensaje.fecha }}</td>
                <td id="mensaje">{{ mensaje.mensaje }}</td>
                <td class="botones"> 
                    <button class="boton" (click)="eliminarMensaje(mensaje.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="formulario">
        <h3>Enviar Mensaje</h3>
        <form (submit)="insertarMensaje()">
            <label for="id_remitente">Remitente:</label>
            <select name="id_remitente" [(ngModel)]="nuevoMensaje.id_remitente" name="id_gestor">
                <option selected disabled value="0">Seleccione una opción:</option>
                <option *ngFor="let cliente of clientes" value="{{ cliente.id }}">
                    {{ cliente.nombre }}
                </option>
            </select><br>
            <label for="id_destinatario">Destinatario: </label>
            <select name="id_destinatario" [(ngModel)]="nuevoMensaje.id_destinatario" name="id_gestor">
                <option selected disabled value="0">Seleccione una opción:</option>
                <option *ngFor="let cliente of clientes" value="{{ cliente.id }}">
                    {{ cliente.nombre }}
                </option>
            </select><br>
            <label for="fecha">Fecha:</label>
            <input class="fecha" type="date" [(ngModel)]="nuevoMensaje.fecha" name="fecha" required><br>
            <label for="mensaje">Mensaje: </label>
            <textarea cols="30" rows="10" [(ngModel)]="nuevoMensaje.mensaje" name="mensaje" required></textarea><br>
            <button class="boton" type="submit">Enviar</button>
        </form>
    </div>

</div>

<app-extra></app-extra>