<nav>
    <div class="ul">
        <!-- fa-w (deja un espacio entre icono y texto) -->
        <button class="link"><a class="router" routerLink=""><i class="fa-solid fa-home fa-fw"></i> Home</a></button>
        <button class="link" id="gest"><a class="router"  routerLink="/gestores"><i class="fa-solid fa-lemon fa-fw"></i>Gestores</a></button>
        <button class="link"><a class="router" routerLink="/clientes"><i class="fa-solid fa-user fa-fw"></i>Clientes</a></button>
        <button class="link"><a class="router" routerLink="/mensajes"><i class="fa-solid fa-comment fa-fw"></i>Mensajes</a></button>
        <button class="link"><a class="router" routerLink="/transferencias"><i class="fa-solid fa-sack-dollar fa-fw "></i>Transferencias</a></button>
    </div>
</nav>
<h2>Lista de Gestores</h2>
<div class="box">
    <table>
        <thead>
            <tr>
                <!-- th columna de cabecera -->
                <th></th>
                <th>Id</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Email</th>
                <th>Salario</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let gestor of gestores">
                <td class="emoji"><i class="fa-solid fa-lemon"></i></td>
                <!-- td columna normal -->
                <td class="id">{{ gestor.id}}</td>
                <td class="nombre">{{ gestor.nombre }} {{ gestor.apellido }}</td>
                <td class="edad">{{ gestor.edad }}</td>
                <td class="email"><a href="mailto:{{ gestor.email }}">{{ gestor.email }}</a></td>
                <td id="salario">{{ gestor.salario }}€</td>
                <td>
                    <button class="boton" (click)="mostrarFormulario(gestor)">Modificar</button>
                </td>
                <td class="botones">
                    <button class="boton" (click)="eliminarGestor(gestor.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="formulario">
        <h3>Agregar Gestor</h3>
        <form class="agregar" (submit)="insertarGestor()">
            <label for="text">Nombre:</label>
            <input type="text" [(ngModel)]="nuevoGestor.nombre" name="nombre" required><br>
            <label for="text">Apellido: </label>
            <input type="text" [(ngModel)]="nuevoGestor.apellido" name="apellido" required><br>
            <label for="edad">Edad:</label>
            <input type="number" min="18" max="100" [(ngModel)]="nuevoGestor.edad" name="edad" required><br>
            <label for="email">Email: </label>
            <input type="email" [(ngModel)]="nuevoGestor.email" name="email" required><br>
            <button class="boton" type="submit">Enviar</button>
        </form>
    </div>
    
    <div class="formulario" *ngIf="formularioActualizar && gestorSeleccionado" >
        <h3>Modificar Gestor</h3>
        <form (submit)="actualizarGestor()">
            <label for="text">Nombre:</label>
            <input type="text" [(ngModel)]="gestorSeleccionado.nombre" name="nombre" required><br>
            <label for="text">Apellido: </label>
            <input type="text" [(ngModel)]="gestorSeleccionado.apellido" name="apellido" required><br>
            <label for="edad">Edad:</label>
            <input type="number" min="18" max="100" [(ngModel)]="gestorSeleccionado.edad" name="edad" required><br>
            <label for="email">Email: </label>
            <input type="email" [(ngModel)]="gestorSeleccionado.email" name="email" required><br>
            <label for="salario">Salario:</label>
            <input type="number" [(ngModel)]="gestorSeleccionado.salario" name="salario" required><br>
            <button class="boton" type="submit">Enviar</button>
            <button class="boton" (click)="ocultarFormulario()">Cancelar</button>
        </form>
    </div>
</div>

<app-extra></app-extra>