
<nav>
    <div class="ul">
        <!-- fa-w (deja un espacio entre icono y texto) -->
        <button class="link"><a class="router" routerLink=""><i class="fa-solid fa-home fa-fw"></i> Home</a></button>
        <button class="link"><a class="router"  routerLink="/gestores"><i class="fa-solid fa-lemon fa-fw"></i>Gestores</a></button>
        <button class="link"><a class="router" routerLink="/clientes"><i class="fa-solid fa-user fa-fw"></i>Clientes</a></button>
        <button class="link"><a class="router" routerLink="/mensajes"><i class="fa-solid fa-comment fa-fw"></i>Mensajes</a></button>
        <button class="link"><a class="router" routerLink="/transferencias"><i class="fa-solid fa-sack-dollar fa-fw "></i>Transferencias</a></button>
    </div>
</nav>
<h1>Qué es Lemon Bank</h1>

    <p>Lemon Bank es el banco online 100 % móvil:</p>
    <ul>
        <li>Tenemos licencia bancaria europea</li>
        <li>Ofrecemos cuentas con IBAN español</li>
        <li>Creemos que la banca digital es el futuro</li>
        <li>Somos un banco online 100 % móvil</li>
        <li>Una banca intuitiva y transparente</li>
        <li>Gestiona toda tu cuenta desde la app</li>
    </ul>

<p>El banco del siglo XXI</p>

<p>En Lemon Bank creemos que tu banco debe adaptarse a tus necesidades y a tu estilo de vida. Por eso, ofrecemos una experiencia bancaria 100 % móvil e innovadora que arrasa con la banca tradicional, ya que todas las gestiones y operaciones de la cuenta bancaria Lemon Bank se llevan a cabo desde la app más intuitiva, cómoda y sencilla que se haya diseñado.</p>

<p>Lemon Bank, un banco online español</p>

<p>Nos llamamos Lemon Bank porque nacimos en España y tenemos apellido español. Aunque mantenemos la eficiencia y calidad alemana, ofrecemos una cuenta bancaria española con un IBAN español, muy español y mucho español.</p>

<p>Aunque seguimos contando con la mejor parte de la herencia alemana: el dinero de las cuentas Lemon Bank está protegido por el Fondo de Garantía de Depósitos alemán hasta un valor de 100.000 €.</p>

<p>Un banco que va a tu ritmo</p>

<p>Hemos conseguido que, estés donde estés, siempre lleves tu banco en el bolsillo. ¿Quieres bloquear tu tarjeta o pedir una nueva? Hazlo en cuestión de segundos desde tu app. ¿Necesitas ayuda? Contacta con atención al cliente por teléfono o por chat los 365 días del año. Sin papeleos, sin comisiones ocultas y sin perder el tiempo.</p>

<p>Tenemos visión global, pero localizada</p>

<p>En Lemon Bank, en 2013, Max y Valentin fundaron el banco con la idea de revolucionar un sector que, para muchos, estaba estancado y anticuado. Su objetivo era desafiar el sistema para mejorarlo, y lo han conseguido ayudados de la última tecnología y el mejor talento del mundo.</p>

<p>Más adelante, en febrero de 2019, abrimos la Sucursal en España y comenzamos a ofrecer cuentas con IBAN español. Desde entonces, hemos crecido a pasos agigantados hasta superar los 700.000 clientes en España.</p>
<app-extra></app-extra>