
<div class="extra-box">
    <div id="nosotros-box">
        <h3 >Sobre nosotros</h3>
        <a routerLink="/quienes-somos">¿Quierenes Somos?</a><br>
        <a href="https://docs.n26.com/legal/03+ES/03+Privacy%20Policy/es/01privacy-policy-es.pdf">Privacidad y Cookies</a><br>
        <a routerLink="/avisolegal">Aviso legal</a><br>
    </div>
    <img src="assets/lemon fresh.png" alt="Lemon Bank">
    <div id="contacto-box">
        <h3 id="contacto">Contactános</h3>
        <p>+34 623 55 55 75</p>
        <p>De Lunes a Viernes - 9:30h a 19:30h</p>
        <p><a href="mailto:lemon_bank@gmail.com">lemon_bank&commat;gmail.com</a></p>
    </div>
    

</div>
