<nav>
    <div class="ul">
        <!-- fa-w (deja un espacio entre icono y texto) -->
        <button class="link"><a class="router" routerLink=""><i class="fa-solid fa-home fa-fw"></i> Home</a></button>
        <button class="link"><a class="router"  routerLink="/gestores"><i class="fa-solid fa-lemon fa-fw"></i>Gestores</a></button>
        <button class="link"><a class="router" routerLink="/clientes"><i class="fa-solid fa-user fa-fw"></i>Clientes</a></button>
        <button class="link"><a class="router" routerLink="/mensajes"><i class="fa-solid fa-comment fa-fw"></i>Mensajes</a></button>
        <button class="link"><a class="router" routerLink="/transferencias"><i class="fa-solid fa-sack-dollar fa-fw "></i>Transferencias</a></button>
    </div>
</nav>

<h1>Aviso Legal</h1>
    <p>Este sitio web está gestionado conjuntamente por Lemon Bank AG y Lemon Bank España, Sucursal de Lemon Bank AG.</p>
    <p>Lemon Bank AG, Sucursal en España con NIF W2765098E es un establecimiento permanente de Lemon Bank AG, y está registrada en el Registro Mercantil de Madrid conforme a la sección 8, Núm. 675425 con dirección de establecimiento en Paseo de la Castellana 43, 28046, Madrid, España.</p>
    <p>Autoridad de control</p>
    <p>Lemon Bank AG está autorizado por la Bundesanstalt für Finanzdienstleistungsaufsicht (BaFin) (Organismo Federal de Supervisión Financiera). La Sucursal en España de Lemon Bank AG está sujeta a la regulación limitada del Banco de España con número de registro 1563. Los detalles del alcance de nuestra regulación por el Banco de España están disponibles mediante solicitud.</p>
    <p>Resolución extrajudicial de litigios</p>
    <p>Lemon Bank AG está obligada a participar en la resolución de un conflicto en un Organismo de Resolución de Conflictos para consumidores.</p>
    <p>Según el apartado 14 (1) No. 1-5 alemán ‘Unterlassungsklagengesetz’ (UKlaG) los siguientes Organismos son competentes para los litigios derivados de los servicios ofrecidos:</p>
    <p>Schlichtungsstelle bei der Deutschen Bundesbank (Organismo de Resolución de Conflictos del Banco Central alemán)</p>
    <p>Postfach 10 06 02, 60006 Frankfurt am Main</p>
    <p>Wilhelm-Epstein-Straße 14, 60431 Frankfurt am Main</p>
    <a href="https://www.bundesbank.de/de/service/schlichtungsstelle">https://www.bundesbank.de/de/service/schlichtungsstelle</a>
    <p>Según el apartado 14 (1) No. 6-7 UKlaG los siguientes Organismos son competentes para los litigios derivados de los servicios ofrecidos:</p>
    <p>Schlichtungsstelle bei der Bundesanstalt für Finanzdienstleistungsaufsicht (BaFin)
        (Organismo de Resolución de Conflictos del Organismo Federal de Supervisión Financiera)</p>
    <p>Plataforma europea de resolución de litigios en línea</p>
    <p>La Comisión Europea ha establecido una plataforma europea de resolución de litigios en línea (RLL) a la cual puede acceder a través del siguiente enlace:</p>    
    <a href="https://ec.europa.eu/consumers/odr/">https://ec.europa.eu/consumers/odr/</a>
    <p>El consumidor puede acceder a la plataforma RLL para propósitos de cualquier resolución extrajudicial de litigios derivados de un contrato de prestación de servicios celebrado en línea con una sociedad establecida dentro de la Unión Europea.</p>
    <p>Información en el contexto de la venta de seguros</p>
    <p>Lemon Bank AG está inscrito en el registro de mediadores como agente de seguros, con una licencia de conformidad con en el apartado 34d (1) de la Ley de regulación de transacciones, comercio e industria (Gewerbeordnung - GewO), con el número de registro D-EZ32-J43G4-43, en la Cámara de Comercio e Industria de Berlín (Industrie- und Handelskammer Berlin).</p>


<app-extra></app-extra>