<div>
    <div class="search-bar">
                                                                                <!-- formControl => ReactiveFormsModule -->
        <input type="text" class="search" placeholder="Busca entre Gestores y Clientes" [formControl]="myControl"><i id="lupa" class="fa-solid fa-magnifying-glass"></i>
    </div>
    <ul>
        <li *ngFor="let opcion of listaFiltrada | async" [value]="opcion">
            <i [class]="getIconClass(opcion.type)"></i>   {{ opcion.type }}  Id {{ opcion.id}}  {{ opcion.nombre}}
        </li>
    </ul>
</div>
