<nav>
    <div class="ul">
        <!-- fa-w (deja un espacio entre icono y texto) -->
        <button class="link"><a routerLink=""><i class="fa-solid fa-home fa-fw"></i> Home</a></button>
        <button class="link"><a  routerLink="/gestores"><i class="fa-solid fa-lemon fa-fw"></i>Gestores</a></button>
        <button class="link"><a  routerLink="/clientes"><i class="fa-solid fa-user fa-fw"></i>Clientes</a></button>
        <button class="link"><a  routerLink="/mensajes"><i class="fa-solid fa-comment fa-fw"></i>Mensajes</a></button>
        <button class="link"><a  routerLink="/transferencias"><i class="fa-solid fa-sack-dollar fa-fw "></i>Transferencias</a></button>
    </div>
</nav>
<h2>Lista de Transferencias</h2>
<div>
    <table>
        <thead>
            <tr>
                <!-- th columna de cabecera -->
                <th></th>
                <th>Id</th>
                <th>Remitente</th>
                <th>Destinatario</th>
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>Mensaje</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transferencia of transferencias">
                <td><i class="fa-solid fa-sack-dollar"></i></td>
                <!-- td columna normal -->
                <td>{{ transferencia.id}}</td>
                <td>{{ transferencia.remitente }}</td>
                <td>{{ transferencia.destinatario }}</td>
                <td>{{ transferencia.fecha }}</td>
                <td>{{ transferencia.cantidad }}€</td>
                <td>{{ transferencia.mensaje }}</td>
                <td>
                    <button class="boton" (click)="eliminarTransferencia(transferencia.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div>
        <h3>Enviar Transferencia</h3>
        <form (submit)="insertarTransferencia()">
            <label for="text">Remitente:</label>
            <input type="text" [(ngModel)]="nuevaTransferencia.remitente" name="remitente" required><br>
            <label for="id_remitente"></label>
            <select name="id_remitente" [(ngModel)]="nuevaTransferencia.id_remitente" name="id_gestor">
                <option selected disabled value="0">Seleccione una opción:</option>
                <option *ngFor="let cliente of clientes" value="{{ cliente.id }}">
                    {{ cliente.nombre }}
                </option>
            </select><br>
            <label for="text">Destinatario: </label>
            <input type="text" [(ngModel)]="nuevaTransferencia.destinatario" name="destinatario" required><br>
            <label for="id_destinatario"></label>
            <select name="id_destinatario" [(ngModel)]="nuevaTransferencia.id_destinatario" name="id_gestor">
                <option selected disabled value="0">Seleccione una opción:</option>
                <option *ngFor="let cliente of clientes" value="{{ cliente.id }}">
                    {{ cliente.nombre }}
                </option>
            </select><br>
            <label for="fecha">Fecha:</label>
            <input class="fecha" type="date" [(ngModel)]="nuevaTransferencia.fecha" name="fecha" required><br>
            <label for="mensaje">Cantidad: </label>
            <input type="number" [(ngModel)]="nuevaTransferencia.cantidad" name="cantidad" required><br>
            <label for="mensaje">Mensaje (opcional):</label>
            <textarea cols="30" rows="10" [(ngModel)]="nuevaTransferencia.mensaje" name="mensaje"></textarea><br>
            <button class="boton" type="submit">Enviar</button>
        </form>
    </div>

</div>
