<h1>Bienvenido al Banco</h1>

<div class="box">
    <div class="search-bar">
        <input type="text" class="search" placeholder="Busca entre Gestores, Clientes, Mensajes y Transferencias." (keyup)="onSearchKeyUp($event)">
    </div>
    <ul class="lista">
        <li *ngFor="let item of listaFiltrada">
            {{ item.nombre || item.remitente || item.destinatario }}
        </li>
    </ul>
</div>
<nav>
    <ul>
        <li><a routerLink="/gestores">Gestores</a></li>
        <li><a routerLink="/clientes">Clientes</a></li>
        <li><a routerLink="/mensajes">Mensajes</a></li>
        <li><a routerLink="/transferencias">Transferencias</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>

