/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    color: #4a1c73;
}


nav {
    background-color: #ffe9a8;
    padding: 20px;
}

.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 15px;
}
.router {
    text-decoration: none;
    color: #4a1c73;
    font-weight: bold;
}
a{
    color: #4a1c73;
}
.link{
    border: none;
    background-color: #ffe9a8;
    color: #4a1c73;
    padding: 5px 10px;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
}

.link:hover {
    background-color: #ffca2c;
    border-radius: 10px;
}

h2, h3 {
    text-align: center;

}

label{
    display: inline-block;
    width: 150px;
    margin: 3px 100px;
}

select{
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #4a1c73;
    background-color: #fff1c9;
    width: 189px;
}

table{
    display: block;
    margin: auto;
    width: 90%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-spacing: 0;
}
table tbody tr:hover {
    color: #2f0f4a;
    background-color: rgba(0, 0, 0, 0.075);
}
thead {
    background-color: #ffca2c;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
}

.box {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
td {
    text-align: center;
    border-bottom: 2px solid #4a1c73;
}
th{
    padding: 10px;
}
#mensaje{
    width: 100%;
    text-align: justify;
}

.id {
    width: 3%;
}
.nombre, .email {
    width: 20%;
}
.edad {
    width: 4%;
}
#salario {
    width: 6%;
}
.emoji {
    width: 12%;
    text-align: right;
    padding: 0.5%;
}
.nom-mens {
    width: 15%;
}
#fecha {
    width: 10%;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}
.agregar {
    padding-right: 5%;
}


/* --- Estilos Dialogo Confirmación --- */

.cdk-overlay-container, .cdk-global-overlay-wrapper {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.cdk-overlay-container {
    position: fixed;
    z-index: 1000
}

.cdk-overlay-container:empty {
    display: none
}

.cdk-global-overlay-wrapper {
    display: flex;
    position: absolute;
    z-index: 1000
}

.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-width: 100%;
    max-height: 100%
}

.cdk-overlay-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
    opacity: 0
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1
}

.cdk-high-contrast-active .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: .6
}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, .32)
}

.cdk-overlay-transparent-backdrop {
    transition: visibility 1ms linear, opacity 1ms linear;
    visibility: hidden;
    opacity: 1
}

.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0;
    visibility: visible
}

.cdk-overlay-backdrop-noop-animation {
    transition: none
}

.cdk-overlay-connected-position-bounding-box {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    min-width: 1px;
    min-height: 1px
}

.cdk-global-scrollblock {
    position: fixed;
    width: 100%;
    overflow-y: scroll
}
.mat-mdc-button.mat-unthemed {
    --mdc-text-button-label-text-color: #fff
}




