<nav>
    <div class="ul">
        <!-- fa-w (deja un espacio entre icono y texto) -->
        <button class="link"><a routerLink=""><i class="fa-solid fa-home fa-fw"></i> Home</a></button>
        <button class="link"><a  routerLink="/gestores"><i class="fa-solid fa-lemon fa-fw"></i>Gestores</a></button>
        <button class="link"><a  routerLink="/clientes"><i class="fa-solid fa-user fa-fw"></i>Clientes</a></button>
        <button class="link"><a  routerLink="/mensajes"><i class="fa-solid fa-comment fa-fw"></i>Mensajes</a></button>
        <button class="link"><a  routerLink="/transferencias"><i class="fa-solid fa-sack-dollar fa-fw "></i>Transferencias</a></button>
    </div>
</nav>
<h2>Lista de Clientes</h2>

<div>
    <table>
        <thead>
            
            <tr>
                <!-- th columna de cabecera -->
                <th></th>
                <th>Id</th>
                <th>Nombre</th>
                <th>Gestor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td><i class="fa-solid fa-user"></i></td>
                <!-- td columna normal -->
                <td>{{ cliente.id}}</td>
                <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
                <td><a href="mailto:{{ cliente.email }}">{{ cliente.email }}</a></td>
                <td>
                    <button class="boton" (click)="mostrarFormulario(cliente)">Modificar</button>
                    <button class="boton" (click)="eliminarCliente(cliente.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="formularioActualizar && clienteSeleccionado" >
        <h3>Modificar Cliente</h3>
        <form (submit)="actualizarCliente()">
            <label for="text">Nombre:</label>
            <input type="text" [(ngModel)]="clienteSeleccionado.nombre" name="nombre" required><br>
            <label for="text">Apellido: </label>
            <input type="text" [(ngModel)]="clienteSeleccionado.apellido" name="apellido" required><br>
            <label for="id_gestor">Gestor:</label>
            <select name="id_gestor" [(ngModel)]="clienteSeleccionado.id_gestor" name="id_gestor">
                <option *ngFor="let gestor of gestores" value="{{ gestor.id }}">
                    {{ gestor.nombre }}
                </option>
            </select><br>
            <label for="email">Email: </label>
            <input type="email" [(ngModel)]="clienteSeleccionado.email" name="email" required><br>
            <button type="submit">Enviar</button>
            <button class="boton" (click)="ocultarFormulario()">Cancelar</button>
        </form>
    </div>
    
<div>
    <h3>Agregar Cliente</h3>
    <form (submit)="insertarCliente()">
        <label for="text">Nombre:</label>
        <input type="text" [(ngModel)]="nuevoCliente.nombre" name="nombre" required><br>
        <label for="text">Apellido: </label>
        <input type="text" [(ngModel)]="nuevoCliente.apellido" name="apellido" required><br>
        <label for="id_gestor">Gestor:</label>
        <select name="id_gestor" [(ngModel)]="nuevoCliente.id_gestor" name="id_gestor">
            <option selected disabled value="0">Seleccione una opción:</option>
            <option *ngFor="let gestor of gestores" value="{{ gestor.id }}">
                {{ gestor.nombre }}
            </option>
        </select><br>
        <label for="email">Email: </label>
        <input type="email" [(ngModel)]="nuevoCliente.email" name="email" required><br>
        <button class="boton" type="submit">Enviar</button>
    </form>
</div>
</div>
