
.boton {
    background-color: #00ce6a;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin: 10px 100px;
    border-radius: 5px;
    width: 100px;
}
#cli {
    background-color: #ffca2c;
    border-radius: 10px;
}

.boton:hover {
    background-color: #009e1d;
}

label{
    display: inline-block;
    width: 150px;
    margin: 3px 100px;
}
